@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
:root {
  --primary-color: #115666;
  --primary-color-darker: rgb(255, 255, 255);
}

body {
  background-image: url(/assets/img/background.svg);
  background-size: 100%;
  font-family: 'Open sans', sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
}

.titulo {
  text-align: center;
  color: var(--primary-color-darker);

}

.container {
  align-items: center;
}

.form {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.resultado {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 2%;
}

h1{
  font-family: 'Aclonica', sans-serif;  letter-spacing: 2px;

}